@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
/* #region Обнулення стилів*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before, *::after {
    box-sizing: border-box;
}

html,body {
    height: 100%;
    min-width: 20rem;
}

a {
    color: inherit;
    text-decoration: none;
    
}

ul li {
    list-style: none;
}

img { 
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}

button {

    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
}
/* #endregion */
/*Стилі зазамовченням ПОЧАТОК*/

:root {
    --Greys-Light-grey: #646d76;
    --Greays-White: #FFF; 
    --Color-Dark-green: #222F33;
}

body {
    font-family: Rubik;
    font-size: 0.875rem;
    color: var(--Greays-White);
    background-color: var(--Color-Dark-green);
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

/* Стилі зазамовченням КІНЕЦ */
/* Налаштування адаптиву ПОЧАТОК */
[class*="__container"]{
    max-width: 52.5rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}
/*Налаштування адаптиву КІНЕЦ */
/* Модулі ПОЧАТОК */
.title {
    font-family: Merriweather;
    font-size: 1.875rem;
    font-weight: 900;
}

.title__dark {
    color: var(--Color-Dark-green);
}
/* Модулі КІНЕЦ */
/* Основна сторинка */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6.05625rem;
    padding: 0.3125rem;
    gap: 1.25rem;
}

.header__logo {
    width: 8.4375rem;
    overflow: hidden;
    transition: all ease 0.5s;
}



.header__body {
    display: flex;
    align-items: center;
    column-gap: 2.6875rem;
    transition: all ease 0.5s;
}

.header__button {
    color: var(--Color-Dark-green);
    background-color: white;
    width: 5.625rem;
    height: 2.125rem;
    font-size: inherit;
    border-radius: 0.75rem;
    transition: all ease 0.5s;
}

.header__button:hover {
    background-color: var(--Color-Dark-green);
    color: white;
    border-radius: 0.25rem;

}

.header__menu {

}

@media (max-width: 625px) {
    .header__logo {
        flex: 0 0 2.0625rem;
    }

    .menu__list {
        column-gap: 1.25rem;
        font-size: 0.875rem;
    }

    .header__button{
        font-size: 14px;
    }
    .header__body{
        column-gap: 1.25rem;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 0.625rem;
    font-size: 0.75rem;
    font-weight: 500;
    transition: all ease 0.5s;
}

.menu__item{

}

.menu__link{

}

.page{

}

.page__main{

}

.main-section {
    min-height: 100vh;
    position: relative;
    display: flex;
}

.main-section__container {
    padding: 6.5625rem 0 8.75rem 0;
    position: relative;
    z-index: 10;
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 52.080952% 1fr;
    align-items: center;

}

.main-section__content {}

.main-section__label {
    margin: 0.75rem 0.75rem 0.75rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.main-selection__label:not(:last-child){
    margin-bottom: 0.75rem;
}

.main-section__title {
    
}

.main-section__video-link {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.main-section__video-link::before{
    content: "";
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    background: url("/ecoCabins/img/play.svg") left no-repeat;
    border-radius: 50%;
}

.main-section__image img {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media (max-width: 1000px) {
    [class*="__container"]]{
        padding: 0 20px;
    }
}

@media (max-width: 43.75rem){
    .main-section__container {
        grid-template-columns: auto;
        align-items: center;
        gap: 2.1875rem;
    }

    .main-section__video-link{
        justify-self: start;
    }

    .main-section__title{
        font-size: 1.5rem;
    }
}

.main-section__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}